# ドメイン設定
export HOST_NAME=example.com
export DOMAIN_NAME=dc=example,dc=com

# SSL設定
export SERVER_CERT_PATH=/usr/local/nginx/config/cert.pem
export SERVER_KEY_PATH=/usr/local/nginx/config/cert.key
# クライアント認証設定
export CA_CERT_PATH=/usr/local/nginx/config/cacert.pem
export CRL_PATH=/usr/local/nginx/config/crl.pem
